
# Dependencies
/vendor
/node_modules

# Environment
.env

# Database
/content/database/*.sqlite
/content/database/*.sqlite-*

# Generated Assets
/public/assets
/public/cache
/public/uploads

# OS Files
.DS_Store
Thumbs.db

.phpunit.cache
