@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

@import "tailwindcss";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite-svelte";

@theme {
    --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
    --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;
    --font-body: "Roboto", ui-sans-serif, system-ui, sans-serif;

    --color-primary-50: #FFF5F2;
    --color-primary-100: #FFF1EE;
    --color-primary-200: #FFE4DE;
    --color-primary-300: #FFD5CC;
    --color-primary-400: #FFBCAD;
    --color-primary-500: #FE795D;
    --color-primary-600: #EF562F;
    --color-primary-700: #EB4F27;
    --color-primary-800: #CC4522;
    --color-primary-900: #A5371B;
}

@layer base {
    body {
        @apply font-body text-gray-900 bg-gray-50;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-display font-medium text-gray-900;
    }
}
